body{
    font-family: 'Comfortaa', cursive;
    margin: 0;
}

/* css of first section of page  */
.first-section{
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-image: url(/images/top-banner.png);
    background-repeat: no-repeat;   
}
.first-section div{
    padding: 5em;
}

.welcome-div1 h1{
    font-size:3.2rem;
}
.welcome-div1 button{
    font-size:100%;
    color: white;
    background:linear-gradient(orange,tomato);
    padding: 1em;
    width: 12rem;
    border-radius: 1.5rem;
}
.welcome-div1 h4{
    text-align:left;
    font-weight:500;
}

.welcome-div2-image img{
    width: 35em;
    border-top-right-radius: 2em;
    border-bottom-left-radius: 2em;
}

.unique{
    color: orange;
    margin-right: 20px;
}

/* css of third section of page  */
.experience-section{
    display: block;
    justify-content:center;
background-image: url(/images/exp-bg.png);
background-repeat: no-repeat;
background-position-y: center;
}
.experience{
    font-size: xx-large ;
    margin-left: 10%;
    width: 30%;
}
.expr-internal-div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1em;
    margin: 1rem;
}
.experience-div{
    text-align: justify;
    margin: 0 2em;
    padding:  0 2em;
    height: 19rem;
    width: 30em;
    box-shadow:0px 0px 20px 1px grey ;
    border-left: 10px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 2;
}
.experience-div h1{
    font-size: 2rem;
    font-weight: bold;
}
.experience-div h3{
    color:orange ;
    font-weight:400;
}
.experience-div h4{
   font-weight: 100;

}
/* footer css */
.footer{
    margin: 3em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
}